@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');

* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
}

@media (max-width: 1024px) {
  body {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  body {
    font-size: 9px;
  }
}
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

.background {
  background: url(../images/background1.jpg) repeat  rgba(255, 255, 255, 0.3);
  height: 100%;
}
.slick-list {
  overflow: hidden;
  display: block;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.wrap-slider {
  position: relative;
  max-width: 720px;
  margin: 0 auto;
}
.wrap-slider .slider {
  padding: 0;
}
.wrap-slider .slick-slide {
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  background-position: center center;
}
.wrap-slider .slick-slide .content-slider {
  position: relative;
  top: 0;
   height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  background-position: center center;
}

.wrap-slider .slick-slide .content-slider {
  top: 0;
  
}
.wrap-slider .slick-slide .content-slider img {
  display: block;
  margin: 0 auto 2em;
  width: 100%;
  height: 100%
}

.wrap-slider .slick-slide p {
  font-size: 1.75em;
  color: #fff;
}
.wrap-content-slider {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  pointer-events: none;
}
  
.wrap-content-slider .wrap-buttons-login {
  pointer-events: auto;
  height: 7em;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
}
.wrap-content-slider .wrap-buttons-login a {
  width: 50%;
  font-size: 2.18em;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 0.9em;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  background: rgba(255, 255, 255, 0.3);
  font-family: 'Satisfy', cursive;
  border-radius: 50px;
  
}

.wrap-content-slider .logo {
  position: relative;
  margin: 0 auto;
  top: 4.5em;
  text-align: center;
  font-family: 'Satisfy', cursive;
  font-size: 30px;
}
@media (min-width: 720px) {
  .wrap-content-slider .logo {
    top: 5.5em;
  }
}
.wrap-content-slider .logo {
  max-width: 100%;
  max-height: 100%;
}
